*{
    margin: 0;
}

body{
    background-color: black;
}

.head{
    height: 30px;
    background-color: #4b066b;
}
header{
    height: 120px;
    background-image: url(https://wallpapers.com/images/hd/purple-gaming-nepi2tnxp6g0mvz9.jpg);
background-size: cover;
}

.signup{
    background-color: rgb(186, 223, 240);
}
nav{
    background-color: #4b066b;
    width: 100%;
}

.box1{
    background-color: rgb(223, 223, 173);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn9kiHiAJRWmd_OZ_rP_14O-LUHmCNKKnZALHmhfY86MdX4am4kTrV_7WYtEHK2oxFG0A&usqp=CAU);
background-size: cover;
}

.box2{
    background-color: rgb(122, 127, 202);
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/69eaea114338715.60391d52c518b.png);
background-size: cover;
}

.box3{
    background-color: rgb(233, 141, 141);
    background-image: url(https://cdn.europosters.eu/image/350/posters/call-of-duty-modern-warfare-2-task-force-i149551.jpg);
background-size: cover;
}

.divbox{

}

@media only screen and (max-width: 600px) {
    nav{
        height: 200px;
        position: absolute;
        top: 150px;
        
    }

    .signup{
        width: 100%;
        height: 100px;
        position: absolute;
        top: 350px;
        
    }
    .box1{
        width: 100%;
        height: 100px;
        position: absolute;
        top: 450px;
        
    }
    .box2{
        width: 100%;
        height: 100px;
        position: absolute;
        top: 550px;
        
        
    }
    .box3{
        width: 100%;
        height: 100px;
        position: absolute;
        top: 650px;

    }

}


@media only screen and (min-width: 600px) {
    nav{
        height: 200px;
        position: absolute;
        top: 150px;
        
    }

    .signup{
        width: 50%;
        height: 150px;
        position: absolute;
        top: 350px;
        
    }
    .box1{
        width: 50%;
        height: 150px;
        position: absolute;
        top: 350px;
        left: 50%;
        
    }
    .box2{
        width: 50%;
        height: 150px;
        position: absolute;
        top: 500px;
        
        
    }
    .box3{
        width: 50%;
        height: 150px;
        position: absolute;
        top: 500px;
        left: 50%;

    }
}



@media only screen and (min-width: 800px) {
  
    .signup{
        width: 100%;
        height: 70px;
        position: absolute;
        top: 350px;
    }
    nav{
        height: 200px;
        position: absolute;
       top: 420px;
    }

    .box1{
        width: 33.33%;
position: absolute;
top: 150px;
left: 0;
        height:200px ;
    }
    
    .box2{
        width: 33.33%;
        position: absolute;
        top: 150px;
left: 33.3%;
        height:200px ;
    
    }
    
    .box3{
        width: 33.33%;
        position: absolute;
top: 150px;
left: 66.6%;
        height:200px ;
    
    }
  
    
   

}